html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: 'Coda', cursive;

	background: url(images/space_bg.jpg);
	background-size: cover;
	overflow: hidden;
}
p {
	text-align: center;
}
.base {
	background: url(images/base.png);
	left: 28px;
	right: 0;
	margin: auto;
	position: absolute;
	z-index: 2000;
	height: 250px;
	width: 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	bottom: 0;
	transform: translate3d(0,0,0);	
}
.base-banner {
	z-index: 1500;
	height: 50px;
	width: 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	bottom: 0;
	position: absolute;
	transform: translate3d(0,0,0);		
	background-image: linear-gradient(to top, #030202 0px, #030202 0px, transparent 30px);
}
.phone {
	background: url(images/megacannon.png) no-repeat;
	height: 239px;
	width: 141px;
	background-size: contain;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 190px;
	transform-origin: center bottom;
	z-index: 1000;
}
#score-container {
	position: fixed;
	top: 10px;
	left: 10px;
	font-size: 2em;
}
#timer-container {
	position: fixed;
	top: 10px;
	right: 10px;
	font-size: 2em;
}
#intro {
	position: fixed;
	top: 4%;
	left: calc(8% - 25px);
	border: 15px solid black;
	outline: 10px solid #E6E6E6;
	width: 80%;
	padding: 0 2%;
	background: #fff;
	z-index: 10000;
	text-align:center;
	overflow: scroll;
	max-height: calc(92% - 50px);
}
#gameover {
	position: fixed;
	top: 2%;
	left: calc(8% - 50px);
	border: 15px solid black;
	outline: 10px solid #E6E6E6;
	width: 80%;
	padding: 0 2%;
	background: #fff;
	z-index: 10000;
	text-align:center;
	display: none;
	overflow: scroll;
	max-height: calc(92% - 50px);
}
#won, #died {
	display: none;
}

#restart-button {
	padding: 4px;
	font-size: 20px;
	border: 1px solid black;
}
#restart-button:hover {
	background: #EDEDED;
	cursor: pointer;
}
h1 {
	font-family: 'Changa One', cursive;
	text-transform: uppercase;
	font-size: 3em;
}

.handle {
    background: none;
    height: 0px;
    position: absolute;
    width: 0px;
}   
.handle.nw {
    left: 0;
    top: 0;
}   
.handle.ne {
    right: 0;
    top: 0;
}   
.handle.se {
    right: 0;
    bottom: 0;
}       
.handle.sw {
    left: 0;
    bottom: 0;
}	